<form [formGroup]="productForm">
  <mat-card class="publish-card">
    <mat-card-header>
      <mat-card-title><b>Publish a pruerjdrjdrjrduct</b></mat-card-title>
    </mat-card-header>
    <mat-card-content class="form-container">
      <div class="form-row">
        <mat-form-field class="form-field">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" required>
        </mat-form-field>
        <mat-form-field class="form-field">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description" required></textarea>
        </mat-form-field>
        <mat-form-field class="form-field">
          <mat-label>Size</mat-label>
          <mat-select formControlName="size" required>
            <mat-option value="s">Small</mat-option>
            <mat-option value="m">Medium</mat-option>
            <mat-option value="l">Large</mat-option>
            <mat-option value="other">Other</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field class="form-field">
          <mat-label>State</mat-label>
          <mat-select formControlName="state" required>
            <mat-option value="used">Used</mat-option>
            <mat-option value="never used">Never Used</mat-option>
            <mat-option value="worn">Worn</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="form-field">
          <mat-label>Price</mat-label>
          <input matInput type="number" placeholder="0" formControlName="price" required>
          <span matTextPrefix>$&nbsp;</span>
        </mat-form-field>
        <mat-form-field class="form-field">
          <mat-label>Color</mat-label>
          <mat-select formControlName="color" required>
            <mat-option value="white">White</mat-option>
            <mat-option value="black">Black</mat-option>
            <mat-option value="yellow">Yellow</mat-option>
            <mat-option value="pink">Pink</mat-option>
            <mat-option value="other">Other</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="form-field">
          <mat-label>Image URL</mat-label>
          <input matInput formControlName="imageUrl" required>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button style="color: #E6E6E6;" mat-button (click)="publishProduct()" [disabled]="!productForm.valid">Publish</button>
    </mat-card-actions>
  </mat-card>
</form>
