<mat-toolbar>
  <span class="title">Menu</span>
  <span class="mat-spacer"></span>
  <button mat-icon-button aria-label="Example icon-button with heart icon">
    <mat-icon>publish</mat-icon>
  </button>
  <button mat-icon-button aria-label="Example icon-button with share icon">
    <mat-icon>trending_up</mat-icon>
  </button>
  <button mat-icon-button aria-label="Example icon-button with share icon">
    <mat-icon>store</mat-icon>
  </button>
  <button mat-icon-button aria-label="Example icon-button with share icon">
    <mat-icon>chat</mat-icon>
  </button>
  <span class="mat-spacer"></span>
</mat-toolbar>

<mat-tab-group>
  <mat-tab label="Publish" > <app-products></app-products> </mat-tab>
  <mat-tab label="Panel"> <app-admin-panel></app-admin-panel> </mat-tab>
  <mat-tab label="Events">  <app-events></app-events></mat-tab>
  <mat-tab label="Chat">  <app-chat></app-chat> </mat-tab>
</mat-tab-group>
