<mat-toolbar style="background: #999999">
  <div class="mat-spacer"></div>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>publish</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>trending_up</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>store_mall_directory</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>chat</mat-icon>
  </button>
  <div class="mat-spacer"></div>
</mat-toolbar>
