.admin-panel-card {
  width: 400px;
  margin: 20px auto;
  background-color: #ffc0cb; /* Color rosa */
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.field-container {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 8px;
}

