<mat-card class="admin-panel-card">
  <mat-card-header>
    <mat-card-title><b>Administrator Panel</b></mat-card-title>
  </mat-card-header>
  <mat-card-content class="form-container">
    <div class="field-container">
      <label for="totalItems">Total Items:</label>
      <input id="totalItems" matInput [(ngModel)]="totalItems" type="number" placeholder="Enter total items">
    </div>

    <div class="field-container">
      <label for="soldItems">Sold Items:</label>
      <input id="soldItems" matInput [(ngModel)]="soldItems" type="number" placeholder="Enter sold items">
    </div>

    <div class="field-container">
      <label for="profit">Profit:</label>
      <input id="profit" matInput [(ngModel)]="profit" type="number" placeholder="Enter profit">
    </div>
  </mat-card-content>
  <mat-card-actions>
    <!-- Add any actions or buttons here if needed -->
  </mat-card-actions>
</mat-card>
